body {
    font-family: Helvetica;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

header {
    position:fixed;
}

.logo {
    width: 50px;
    text-align: left;
}