h1 {
    font-family: Helvetica;
    font-size: 100px;
    font-weight: bold;
    color: khaki;
    background-image: url(Images/pattern.png);
    text-align: center;
}

h2 {
    font-family: Helvetica;
    font-size: 32px;
    font-weight: bold;
    color: white;
}

h3 {
    font-weight: bold;
    font-size: 24px;
}

p{
    font-family: Helvetica;
}

.brushes {
    background-color: mediumspringgreen;
}

.frames{
    background-color: lightcoral;
}

.paint{
    background-color: skyblue;
}

.price{
    font-family: Helvetica;
    font-weight: bold;
    color: blue;
}